{% extends 'core/base.html'%}
<!--  -->
{% block meta %}
<meta
  name="description"
  content="This is the best store for customers and just people"
/>
<meta name="author" content="Timmy Zhakup" />
<meta property="og:title" content="Mystore" />
<meta property="og:description" content="Product store for everybody's needs" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://mystore.com/about/" />

{% endblock %}
<!-- Title -->
{%block title%}About{%endblock%}

<!-- Body -->
{%block content%}
<h1>About</h1>
{%endblock%}
